loguru
torch==1.13.1
pandas
numpy
cloudpickle
scikit-learn
scipy
xgboost
copulas
dython
diffprivlib
thomas-core
geomloss
nflows==0.14
rdt==1.1.0
pgmpy
optuna
redis
pycox
xgbse
scikit-survival
pykeops
fflows
importlib-metadata
ipykernel
lifelines
optuna
tsai
matplotlib
seaborn
tqdm
brmp@git+https://github.com/pyro-ppl/brmp
pydantic_core==2.1.2
pydantic==1.10.0
pytorch_wavelets@git+https://github.com/fbcotter/pytorch_wavelets.git
PyWavelets
fairlearn